*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#0f172a;
    color:white;
}



.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}



/* ================= HEADER ================= */


header{
    background:#111827;
    padding:15px 0;
}



header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



.logo img{
    width:120px;
}



nav ul{
    display:flex;
    list-style:none;
}



nav ul li{
    margin-left:25px;
}



nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}



nav ul li a:hover{
    color:#00aaff;
}





/* ================= PRIVACY POLICY ================= */


.policy{

    padding:60px 0;

}



.policy h1{

    text-align:center;
    font-size:42px;
    color:#00aaff;
    margin-bottom:40px;

}



.policy h2{

    color:#00aaff;
    margin-top:30px;
    margin-bottom:10px;

}



.policy p{

    font-size:17px;
    line-height:1.8;
    color:#e5e7eb;

}
/* ================= FOOTER ================= */

.footer{
background:#050b16;
padding:60px 0 20px;
margin-top:80px;
}

.footer-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:40px;
}

.footer-logo{
width:130px;
margin-bottom:15px;
}

.footer-box h3{
color:#00c8ff;
margin-bottom:15px;
}

.footer-box p{
color:#dcdcdc;
font-size:15px;
line-height:1.8;
}

.footer-box ul{
list-style:none;
padding:0;
}

.footer-box ul li{
margin-bottom:10px;
}

.footer-box ul li a{
color:#ffffff;
text-decoration:none;
transition:.3s;
}

.footer-box ul li a:hover{
color:#00c8ff;
padding-left:5px;
}

.footer-bottom{
text-align:center;
margin-top:40px;
padding-top:20px;
border-top:1px solid rgba(255,255,255,.1);
}

.footer-bottom p{
color:#bfbfbf;
font-size:14px;
}
/* Scroll To Top Button */

#topBtn{
position:fixed;
bottom:25px;
right:25px;
display:none;
width:50px;
height:50px;
border:none;
border-radius:50%;
background:#0d6efd;
color:#fff;
font-size:24px;
cursor:pointer;
box-shadow:0 5px 15px rgba(0,0,0,.3);
transition:all .3s ease;
z-index:999;
}

#topBtn:hover{
background:#084298;
transform:translateY(-3px);
}